<div class="rounded-lg text-card-foreground shadow-lg bg-white border border-gray-200 mt-4 md:mt-0" data-v0-t="card">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
}