<span>
    @Language: <em>@Text</em> [@IPA]
</span>

@code {
    [Parameter] public string Language { get; set; }
    [Parameter] public string Text { get; set; }
    [Parameter] public string IPA { get; set; }
}