@if (!string.IsNullOrEmpty(Title))
{
    <h2 class="text-xl font-semibold text-gray-700 mb-2">
        @Title
    </h2>
}
<p class="mb-4">
    @ChildContent
</p>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string? Title { get; set; }
}
