<li>
    <a class="text-blue-500" href="@Href">
        @ChildContent
    </a>
</li>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Href { get; set; }
}
