@page "/Aenar"

@using Presentation.Components.Wrapper

<TopContainer>
    <ColumnLeft>
        <ArticleContainer>
            <ArticleTitle title="Aenar" />
            <ArticleContent>
                <Paragraph>
                    The <strong>Aenar</strong>, also spelled as <strong>Enar</strong> (<IPAOption Language="Arethian" Text="εναρ" IPA="eːnɑr" />) 
                    is one of the seven elemental deities. He is bound to the element of Fire and is the god of War, Glory and Blood. His ideals have spread far beyond its original purpose, they have found new followers from far and wide.
                </Paragraph>

                <Paragraph Title="Religion">
                    The Aenarian religion takes places in large communions in chapels and cathedral. These churches range in shape and form from small stone domes in rural areas, to large detailed cathedrals in urban areas. A common feature is a large pyre with a fire stake at the top and large leadlight pieces at the tail end of the church. On top overy church you'd also find the traditional symbol of the Aenarian Religion, Cross of Dom Nikolas.
                </Paragraph>
                <Paragraph>
                    A traditional Aenarian communion features traditional personalized red face-paint, lighting the fires of a church with each person carrying in a torch and an Herbad reading from the Propugnatores Fabulas. The fires of the church are left burning through the night, until they dwindle before the morning. Blazing Dawn is the Aenarian national day on the 14th of Kuresohl. It traditionally features a festival of large pyres, fire breathing and Duellum duels.
                </Paragraph>
                <Paragraph>
                    There are many soldiers who follow the Aenarian religion. Over time, they have created a unique sect. Its distinctive feature is the lack of permanent churches. A military unit usually carries a portable shrine and features a pyre. The former military camps can be recognized by the large burn marks in the grass. Another defining feature are the shield-maidens, these woman have passed the trials and tribulations to gain their spot as a warrior.
                </Paragraph>
                <Paragraph>
                    In the Aenarian religion, the phoenix hold a holy regarded position. In the time before history they used to congregate around these legendary animals. The Phoenix's later granted the elite followers redemption through fire. They would be turned into the legendary Phoenixborn. Multiple accounts claim that Aenar ascended tot he heavens ont he backs of a Phoenix, leading to many trying themselves, yet none succeeded.
                </Paragraph>

                <Paragraph Title="Sects">
                    The Aenarian religion is fairly united, yet is divided in a number of sects.
                    <br />
                    <ul>
                        <li>
                            Sect of <strong>Ignis</strong><br />
                            The Sect of Ignis idolizes the fire. Featuring it prominently in everything they create. They're churches have been built around the concept of integrating fire on the inside.
                        </li>
                        <li>
                            Sect of <strong>Solis</strong><br />
                            The Sect of Solis is captivated by the Sun. They are the ones who have constructed some of the largest leadlight pieces to ever exist.
                        </li>
                        <li>
                            Sect of <strong>Bellum</strong><br />
                            The Sect of Bellum are the ones who don't congregate in churches, but fight on the battlefield. The lack of a permanent home has caused them to innovate in mobile shrines and personal worship.
                        </li>
                        <li>
                            Sect of <strong>Vita</strong><br />
                            The Sect of Vita are the followers who kindle to the fire of life. From across the realm it hosts the most distinguished Chirurgeons.
                        </li>
                    </ul>
                </Paragraph>

                <Paragraph Title="History">
                    <h3>Venerated Ancestors</h3>
                    The Aenarian religion includes the worshiping of venerated ancestors. These might range from national heroes to local stars. These venerated ancestor are given the prefix Dom as a title.
                    <br />
                    <h3>Priestly Order</h3>
                    The Aenarian clergy follows a clear order of ranks.

                    <ArticleTable>
                        <TableHeaders>
                            <TableHeader>Title</TableHeader>
                            <TableHeader>Equivalent</TableHeader>
                        </TableHeaders>
                        <TableRows>
                            <TableRow>
                                <TableDrawer>Dastur</TableDrawer>
                                <TableDrawer>Bishop</TableDrawer>
                            </TableRow>
                            <TableRow>
                                <TableDrawer>Herbad</TableDrawer>
                                <TableDrawer>Priest</TableDrawer>
                            </TableRow>
                        </TableRows>
                    </ArticleTable>
                </Paragraph>

                <Paragraph Title="Cultural">
                    <h3>Qui Iure Belli</h3>
                    The Qui Iure Belli is a relic from the the time before history. It is believed to be written by Aenar himself and describes his optimal design for society. The societal classes should be built upon combat experience and prestige. This society of warriors is an hell to face on the battlefield, but hasn't developed high amounts of intelligence and wisdom. The children are given a warriors training from an very early age, this ideal is named Agoge. Both males and females are eligible for this education, but there are much heavier requirements for females. It is a requirement for full citizenship. The elite Viaan warriors, which follow Qui Iure Belli, are the Iprenron
                    <br />
                    <h3>Propugnatores Fabulas</h3>
                    The Propugnatores Fabulas is an book constructed in the time before history. It features legendary from champions following the Qui Iure Belli. Although the Qui Iure Belli are Aenar's direct teachings, the Propugnatores Fabulas is the more prominently featured book in Aenarian communions.
                    <br />
                    <h3>Duellum</h3>
                    The Warriors of Aenar can engage in Duellum, this is duel to the death as described in the Qui Iure Belli. The denial of such a duel is seen as an act of cowardice and shall be proportionally punished. Multiple victories in Duellum will grant that warrior an higher an higher rank. At the end of the duellum, the fallen warrior will be cremated as sacrifice to Aenar. The Duellum ranks are:
                    
                    <ArticleTable>
                        <TableHeaders>
                            <TableHeader>Rank</TableHeader>
                            <TableHeader>Crown</TableHeader>
                            <TableHeader>Granted upon</TableHeader>
                        </TableHeaders>
                        <TableRows>
                            <TableRow>
                                <TableDrawer>Aes Coronam</TableDrawer>
                                <TableDrawer>Bronze crown</TableDrawer>
                                <TableDrawer>5th duelleum</TableDrawer>
                            </TableRow>
                            <TableRow>
                                <TableDrawer>Ferrum Coronam</TableDrawer>
                                <TableDrawer>Iron crown</TableDrawer>
                                <TableDrawer>15th duelleum</TableDrawer>
                            </TableRow>
                            <TableRow>
                                <TableDrawer>Auri Coronam</TableDrawer>
                                <TableDrawer>Gold crown</TableDrawer>
                                <TableDrawer>25th duelleum</TableDrawer>
                            </TableRow>
                            <TableRow>
                                <TableDrawer>Iaspis Coronam</TableDrawer>
                                <TableDrawer>Diamond crown</TableDrawer>
                                <TableDrawer>50th duelleum</TableDrawer>
                            </TableRow>
                        </TableRows>
                    </ArticleTable>

                    <h3>Codex Poenarum</h3>
                    Even tough they are fierce warriors, they have an well established Code of Punishment. 

                    <ArticleTable>
                        <TableHeaders>
                            <TableHeader>Name</TableHeader>
                            <TableHeader>Punishment</TableHeader>
                        </TableHeaders>
                        <TableRows>
                            <TableRow>
                                <TableDrawer>Decimatio</TableDrawer>
                                <TableDrawer>A form of extreme military discipline used by officers to punish mutinous or cowardly soldiers in exceptional cases.</TableDrawer>
                            </TableRow>
                            <TableRow>
                                <TableDrawer>Gradus Deiectio</TableDrawer>
                                <TableDrawer>A reduction in rank</TableDrawer>
                            </TableRow>
                            <TableRow>
                                <TableDrawer>Munerum Indictio</TableDrawer>
                                <TableDrawer>Additional duties</TableDrawer>
                            </TableRow>
                        </TableRows>
                    </ArticleTable> 

                    <h3>Blazing Dawn</h3>
                    Blazing Dawn is the holy day of the Aenarian religion. It symbolizes his followers trying to reach out and show their faith, laid in fire. On this day, they're followers wake up before dawn to attend the Dawn ceremony on this day. In this ceremony they welcome the sun back for an other cycle. Following this ceremony the light they're torches and carry it to the large pyre constructed away from the Church and light it simultaneously.
                    
                </Paragraph>

                <Paragraph Title="Related Articles">
                    <RelatedArticles>
                        <RelatedArticleLink Text="List of Aenarian Churches" Link="" />
                        <RelatedArticleLink Text="List of Aenarian Venerated Ancestors" Link="" />
                    </RelatedArticles>
                </Paragraph>


            </ArticleContent>
        </ArticleContainer>
        @* <ReferenceSection>
            <ReferenceLink Href="">
                Eiffel, G. (1890). The Eiffel Tower. Paris: Eiffel.
            </ReferenceLink>
            <ReferenceLink Href="">
                Harriss, J. (1985). The Tallest Tower: Eiffel and the Belle Epoque. Boston: Houghton Mifflin.
            </ReferenceLink>
            <ReferenceLink Href="">
                Loyrette, H. (1985). Gustave Eiffel. New York: Rizzoli.
            </ReferenceLink>
        </ReferenceSection> *@
    </ColumnLeft>

    <ColumnRight>
        <Infobox>
            <InfoboxTitle title="Aenar">
                <LanguageOption Name="εναρ" Language="Arethian" />
            </InfoboxTitle>
            <InfoboxDetails>
                @* <Image>
                    <img alt="Eiffel Tower" class="mb-4 w-full" height="200" src="/placeholder.svg" width="200" style="aspect-ratio: 200 / 200; object-fit: cover;" />
                </Image> *@
                <ChildContent>
                    <InfoboxDetailCell
                        Item="Divine Classification"
                        Value="Religions (Elemental)"
                    />
                    <InfoboxDetailCell
                        Item="Honorary & Occupational Titles"
                        Value="*Father of the giants *The Lord of the Phoenix *The Herald of the Gauntlet *The Dueler"
                    />
                    <InfoboxDetailCell
                        Item="Current Residence"
                        Value="The Eternal Skirmish"
                    />
                    <InfoboxDetailCell
                        Item="Gender"
                        Value="Male"
                    />
                    <InfoboxDetailCell
                        Item="Symbolic Color"
                        Value="Red"
                    />
                    <InfoboxDetailCell
                        Item="Birthstone"
                        Value="Ruby"
                    />
                    <InfoboxDetailCell
                        Item="Holy Symbols & Sigil"
                        Value="Cross of Dom Nikolas"
                    />
                    <InfoboxDetailCell
                        Item="Holy Day"
                        Value="Blazing Dawn, 14th of Kuresohl"
                    />
                </ChildContent>
            </InfoboxDetails>
        </Infobox>

        <TableOfContents>
            <HeaderLink Value="Introduction" Href="introduction" />
            <HeaderLink Value="Religion" Href="religion" />
            <HeaderLink Value="Sects" Href="sects" />
            <HeaderLink Value="History" Href="history" />
            <HeaderLink Value="Cultural" Href="cultural" />
            <HeaderLink Value="Related Articles" Href="related-articles" />
        </TableOfContents>
    </ColumnRight>
</TopContainer>