$loading-color: #1b6ec2;
$loading-percentage: var(--blazor-load-percentage, 0%);
$loading-text: var(--blazor-load-percentage-text, "Loading");

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;

    circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: .6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);

        &:last-child {
            stroke: $loading-color;
            stroke-dasharray: calc(3.141 * #{$loading-percentage} * .8), 500%;
            transition: stroke-dasharray .05s ease-in-out;
        }
    }

    &-text {
        position: absolute;
        text-align: center;
        font-weight: bold;
        inset: calc(20vh + 3.25rem) 0 auto .2rem;

        &:after {
            content: $loading-text;
        }
    }
}
