<div class="my-component">
    This component is defined in the <strong>Presentation.Components</strong> library.
    <button class="btn btn-primary" @onclick="IncrementCount">Click me @currentCount</button>
</div>