.btn {
    &-link {
        color: #0071c1;
    }

    &-primary {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }

    &:focus,
    &:active:focus,
    &-link.nav-link:focus {
        box-shadow: 0 0 0 .1rem #fff, 0 0 0 .25rem #258cfb;
    }
}